$primary-color-nav : orange !default;
$justify-content-nav : right !default;
$height-nav : 80px !default;

@mixin fond-color($color : $primary-color-nav){
  background-color: $color;
}

@mixin justification($justify-content : $justify-content-nav){
  justify-content: $justify-content;
}
