:root{
    --main-bg-color: red;
}


@media screen and (max-width: 120em) {
    body > .main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row;
    }

    .row{
        display: flex;
        flex-direction: row;
        margin: 1.6%;
    }

    .col{
        flex: 5;
    }

    .four{
        flex: 2;
    }

    .two{
        flex: 1;
    }

    .menu{
        flex: 1;
        color: #FFFFFF;
        background-color: black;
        margin-right: calc(25px);
        font-size: 2em;
        padding-left: calc(50px);
    }

}

@media screen and (max-width: 35em) {

    body > .main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-flow: column;
    }

    .row{
        display: flex;
        flex-direction: row;
        margin: 1.6%;
    }

    .four{
        flex: 2;
    }

    .two{
        flex: 1;
    }

    .menu{
        color: #FFFFFF;
        background-color: black;
        font-size: 2em;
    }

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

