.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1em;
    background-color: rgba(47, 255, 85, 0.84);
    justify-content: flex-start;

}

p {
    background-color: #00FBFF;
    padding: .5em;
    outline: 1px solid grey;
    width: 12%;
    margin-right: 1%;
    flex-basis: 1%;
    /*flex-grow: 1;*/
    flex-shrink: 0;
    height: 30em;
}


.flex-container > p:nth-child(1){
    order: -1;
}

.flex-container > p:nth-child(5){
    order: -2;
    flex-grow: 5;
}

