body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row;
}

.row{
    display: flex;
    flex-direction: row;
}

.four{
    flex: 2;
}

.two{
    flex: 1;
}

.news{
    border-left: 2px solid black;
    padding-left: 5px;
}

.menu{
    flex: 1;
    color: #FFFFFF;
    background-color: black;
    margin-right: calc(50px);
    font-size: 2em;
}

.col{
    flex: 5;
}